<div class="buttons">
	<div id="avatar">
		<%= image_tag(current_user.avatar.url(:thumb)) %>
	</div>
	<%= link_to "My Posts", list_index_path, :class => 'button' %>
	<%= link_to "New Post", new_post_path, :class => 'button' %>
	<%= link_to "#{current_user.username}", edit_user_registration_path, :class => 'button' %>
	<%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'button' %>
</div>