<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Posts">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Title</Data></Cell>
        <Cell><Data ss:Type="String">Body</Data></Cell>
        <Cell><Data ss:Type="String">Comments</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="Number"><%= @post.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @post.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= @post.body %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @post.comments.count %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Comments">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Comment</Data></Cell>
      </Row>
      <% @post.comments.each do |comment| %>
      <Row>
        <Cell><Data ss:Type="String"><%= comment.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= comment.body %></Data></Cell>
       </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>