<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Render Sidebar -->
	<%= render 'layouts/layouts_render/side' %>
	
	<div id="main_content">
	
		<!-- Render Header -->
		<%= render 'layouts/layouts_render/header' %>

		<!-- Render Message -->
		<%= render 'layouts/layouts_render/message' %>
		
		<%= yield %>
	</div>

</body>
</html>
